.app-footer {

  min-height: $footer-height;
  padding: 0 $spacer-x;
  line-height: $footer-height;
  color: $footer-color;
// color: #fff001;    
  background: $footer-bg;
  @include borders($footer-borders);
}
.wrapper-body-ff {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.push-ff {
    height: 50px; /* .push must be the same height as .footer */
}